@charset "UTF-8";
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}
**,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* font-size: 18px; */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  font-family: "Inconsolata", Consolas, monospace;
  font-size: 16px;
  /* background-image: 
  linear-gradient(rgba(0, 245, 255, 0.1) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 245, 255, 0.1) 1px, transparent 1px); */
  background-color: #000000;
  color: #ffffff;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.container {
  padding: 0 60px;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000000;
}

.header__link {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}
.header__link p {
  margin: 0;
  padding: 0;
}

.header img {
  width: 3rem;
}

.header__nav {
  max-width: 60%;
}

.header__menu {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  gap: 2rem;
}

.header__menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.hero {
  height: 500px;
  /* background-color: #003366;
      background-image: linear-gradient(315deg, #003366 0%, #242124 74%);

      background-color: #002147;
  background-image: linear-gradient(315deg, #002147 0%, #3b3c36 74%); */
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  animation: gradientWave 10s ease-in-out infinite;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-flow: column wrap;
  }
}

@keyframes gradientWave {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.hero__title {
  font-family: "Inconsolata", Consolas, monospace;
  display: inline-block;
  border-right: 2px solid #ffffff;
  /* курсор */
  white-space: nowrap;
  overflow: hidden;
  /* Печать текста */
  animation: typing 4s steps(15, end) forwards, blink 0.75s step-end infinite;
  background: linear-gradient(to right, #d558c8 0%, #24d292 100%);
  background: linear-gradient(to right, #f9d423 0%, #e14fad 100%);
  background-clip: text;
  color: transparent;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
  /* ширина текста = число символов */
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
}

.footer__main-content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__nav {
  min-width: 30%;
  max-width: 40%;
}

.footer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.footer__menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.footer__list-link {
  display: block;
  width: 30px;
  height: auto;
  cursor: pointer;
}
.footer__list-link svg {
  fill: #ffffff;
}

.footer__gh-link {
  display: block;
  text-decoration: none;
  color: white;
}

.footer__attributions {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  font-size: 0.7rem;
}
.footer__attributions a {
  display: inline-block;
  color: white;
}

/*# sourceMappingURL=style.css.map */
