.footer {
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    position: relative;
    background-color: #000000;

    // &::before {
    //     position: absolute;
    //     content: "";
    //     height: 0.5px;
    //     width: 100%;
    //     background-color: #ffffff;
    //     top: 0;
    // }
}

.footer__main-content {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    //     flex-flow: row wrap;
    // justify-content: space-between;
    // align-items: center;
}

.footer__nav {
    min-width: 30%;
    max-width: 100%;

    // max-width: 40%;
}

.footer__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.footer__menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.footer__social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;

    svg {
        transition: all ease 0.3s;}
}


.footer__social-list-item:hover,
.footer__social-list-item:focus,
.footer__social-list-item:focus-within {
    svg {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3))
        drop-shadow(0 0 10px rgba(255, 255, 255, 0.2))
        drop-shadow(0 0 20px rgba(0, 212, 255, 0.15));
    }
}

.footer__menu-item:hover a,
.footer__menu-item:focus a,
.footer__menu-item:focus-within a {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6),
        0 0 10px rgba(255, 255, 255, 0.4), 0 0 20px rgba(0, 212, 255, 0.3),
        0 0 40px rgba(147, 51, 234, 0.2);
}

.footer__list-link {
    display: block;
    width: 30px;
    height: auto;
    cursor: pointer;

    svg {
        fill: #ffffff;
    }
}

.footer__gh-link {
    display: none;

    @media (min-width: 768px) {
        display: block;
        text-decoration: none;
        font-weight: 600;
        color: white;
    }
}

.footer__attributions {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    // justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    gap: 7px;

    p {
        margin: 0;
        padding: 0;
    }

    a {
        display: inline-block;
        color: white;
    }
}