.skills {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000000;
    background-image: url("/images/stars.svg");
    background-attachment: fixed;
    inset: 0;
}

.skills h2 {
    margin: 0 0 25px;
}

.skills__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

.skills__list-item {
    svg {
        width: 30vw;
        max-width: 100px;
        height: auto;
        fill: #ffffff;
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.2)) drop-shadow(0 0 20px rgba(0, 212, 255, 0.15));

        // для ховер эффектов
        // drop-shadow(0 0 5px rgba(255, 255, 255, 0.6))
        // drop-shadow(0 0 10px rgba(255, 255, 255, 0.4))
        // drop-shadow(0 0 20px rgba(0, 212, 255, 0.3))
        // drop-shadow(0 0 40px rgba(147, 51, 234, 0.2));
    }
}

.skills.light-mode {
    background-color: #f8f5f0;
    // background-image: linear-gradient(rgba(248,245,240,0.6), rgba(248,245,240,0.6)),
    // image-set(url("/images/skills/skills-light-bg@1x.webp"),
    //         url("/images/skills/skills-light-bg@2x.webp"),
    //         url("/images/skills/skills-light-bg@1x.jpg"),
    //         url("/images/skills/skills-light-bg@2x.jpg"));
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    background-image: url("/images/bg-light.svg");

    svg {
        fill: #000000;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3)) drop-shadow(0 0 10px rgba(0, 0, 0, 0.2)) drop-shadow(0 0 20px rgba(0, 0, 0, 0.15));
    }
}